
    <div class="item">
      <div>Avatar</div>
      <input 
        type="url"
        name="avatarURL"
        placeholder="https://"
        value="{{member.avatarURL}}"
        required="required"
        oninvalid= "this.setCustomValidity('Insira o endereço do seu Avatar!')"
        onchange="this.setCustomValidity('')"
      >
    </div>
    <div class="item">
      <div>Aluno</div>
      <input 
        type="text"
        name="name"
        placeholder="Nome Completo"
        value="{{member.name}}"
        required="required"
        oninvalid="this.setCustomValidity('Preencha seu nome!')"
        onchange="this.setCustomValidity('')"
      >
    </div>
    <div class="item">
      <div>Email</div>
      <input 
        type="email" 
        name="email"
        value="{{member.email}}"
        required="required"
        oninvalid="this.setCustomValidity('Informe seu email!')"
        onchange="this.setCustomValidity('')"
      >
    </div>
    <div class="item">
      <div>Data de Nascimento</div>
      <input 
        type="date" 
        name="birth"
        min="1900-01-01"
        max="2020-01-01"
        value="{{member.birth}}"
        required="required"
        oninvalid="this.setCustomValidity('Preencha sua Data de Nascimento!')"
        onchange="this.setCustomValidity('')"
      >
    </div>
    <div class="item">
      <div>Sexo</div>
      <div class="sexContainer">
        <span>
          <input 
            type="radio" 
            name="gender" 
            value="M" 
            {% if member.gender =='M' %}
              checked
            {% endif %}
          >Masculino
        </span>

        <span>
          <input 
            type="radio" 
            name="gender" 
            value="F"
            {% if member.gender =='F' %}
                checked
            {% endif %}
          >Feminino
        </span>
      </div>
    </div>
    <div class="item">
      <div>Tipo Sanguíneo</div>
      <div>
        <select name="blood">
          <option value="A+" {% if member.blood == "A+" %} selected {% endif %} >
            A+
          </option>
          <option value="A-" {% if member.blood == "A-" %} selected {% endif %} >
            A-
          </option>
          <option value="B+" {% if member.blood == "B+" %} selected {% endif %} >
            B+
          </option>
          <option value="B-" {% if member.blood == "B-" %} selected {% endif %} >
            B-
          </option>
          <option value="AB-" {% if member.blood == "AB-" %} selected {% endif %} >
            AB-
          </option>
          <option value="AB+" {% if member.blood == "AB+" %} selected {% endif %} >
            AB+
          </option>
          <option value="O+" {% if member.blood == "O+" %} selected {% endif %} >
            O+
          </option>
          <option value="O-" {% if member.blood == "O-" %} selected {% endif %} >
            O-
          </option>
        </select>
      </div>
    </div>
    <div class="item">
      <div>Altura (cm)</div>
      <div>
        <input 
          type="number" 
          name="height" 
          min="0"
          value="{{member.height}}"
          required="required"
          oninvalid="this.setCustomValidity('Informe sua Altura!')"
          onchange="this.setCustomValidity('')"
        >
      </div>
    </div>
    <div class="item">
      <div>Peso (kg)</div>
      <div>
        <input 
          type="number" 
          name="weight"
          min="0"
          value="{{member.weight}}"
          required="required"
          oninvalid="this.setCustomValidity('Informe seu Peso!')"
          onchange="this.setCustomValidity('')"
        >
      </div>
    </div>
    <div class="item">
      <div>Atividades Interessadas</div>
      <input 
        type="text" 
        name="services"
        placeholder="Separe as atividades por vírgula"
        value="{{member.services}}"
        required="required"
        oninvalid="this.setCustomValidity('Insira pelo menos uma Atividade!')"
        onchange="this.setCustomValidity('')"
      >
    </div>