{% extends "layout.njk" %}

{% block main %}

<div class="card">
  <section class="avatar" style= "background: url({{member.avatarURL}}) no-repeat center center / cover "></section>
  <section class="details">

  <h3>Detalhes</h3>

  <div class="item">
    <div>Instrutor</div>
    <div>{{member.name}}</div>
  </div>

  <div class="item">
    <div>Idade</div>
    <div>{{member.birth}}</div>
  </div>

  <div class="item">
    <div>Sexo</div>
    {# {{"Masculino" if member.gender == 'M' else "Feminino"}} #}
    <div>{{member.gender}}</div>
  </div>

  <div class="item">
    <div>Acompanhamento</div>
    <div>
      {% for item in member.services %}
        <span>{{item}}</span>
      {% endfor %}
    </div>
  </div>
  <div class="item">
    <div>Desde</div>
    <div>{{member.createdAt}}</div>
  </div>
  <a href="/members/{{member.id}}/edit" class="button">Editar</a>

</section>
</div>

{% endblock %}