{% extends "layout.njk" %}

{% block main %}

<div class="card table-container">

  <div class="header">
    <a class="buttonTable" href="/instructors/create">Novo</a>
    <form action="/instructors" method="GET">
      <input 
        type="text"
        name="filter"
        placeholder="Instrutor ou Atividade"
        value="{{filter}}"
      >
      <button type="submit">Pesquisar</button>
    </form>
  </div>

  <table>
    <thead>
      {# Linhas no Head #}
      <tr>
        {# Colunas no Head #}
        <th>Instrutor</th>
        <th>Serviços Prestados</th>
        <th>Total de Alunos</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for item in instructors %}
       {# Linhas no Body #}
        <tr>
        {# Colunas no Body #}
          <td>
            <span style="background-image: url({{item.avatar_url}})"></span>
            <div class="nameTable">{{item.name}}</div>
          </td>
          <td>
          {% for item in item.services %}
            <a class="servicesTable" href="">{{item}}</a>
          {% endfor %}
          </td>
          <td class="total_members">{{item.total_members}}</td>
          <td><a class='buttonTable' href="/instructors/{{item.id}}">Ver</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}